# IDE
/.idea
/.rvmrc

# rvm version manager
.ruby-version
.ruby-gemset

# Ignore bundler config
/.bundle

# Ignore solr
solr/data
solr/test
solr/development
solr/default/data
/log/*.log.lck
solr/pids
!/solr/solr.xml
!/solr/conf

# Ignore all logfiles and tempfiles.
log
tmp
rails_best_practices_output.html
/coverage

/.rspec
/.zeus.sock

/config/database.yml
/config/application.yml

public/capybara.html
