%tr
  %td(align="center" valign="top")
    %table(border="0" cellpadding="0" cellspacing="0" width="100%" style="color:#fff;" bgcolor="#fff")
      %tr
        %td(align="center" valign="top")
          %table.flexibleContainer(border="0" cellpadding="0" cellspacing="0" width="500")
            %tr
              %td.flexibleContainerCell(align="center" valign="top" width="500")
                %table(border="0" cellpadding="30" cellspacing="0" width="100%")
                  %tr
                    %td.textContent(align="center" valign="top")
                      New user in your company
