.form-group
  = f.label :value, Overbooking::Contact::Email.human_attribute_name(:value), class: 'col-sm-4 control-label'
  .col-sm-6
    = f.text_field :value, class: 'form-control with_validation email'