.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ data: { target: '.navbar-collapse', toggle: 'collapse' }, type: 'button' }
        %span.clip-list-2
      = link_to main_app.root_path, class: 'navbar-brand' do
        HOTEL
        %i.clip-clip>
        COMMANDER
    .navbar-tools
      %ul.nav.navbar-right
        %li.dropdown.current-user
          %a.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
            %span.username= current_user.nickname
            %i.clip-chevron-down
          %ul.dropdown-menu
            %li
              = link_to destroy_user_session_path, method: :delete do
                %i.clip-exit
                \&nbsp;
                = t('auth.buttons.logout')
        %li
          %a.sb-toggle{:href => "#"}
            %i.fa.fa-outdent