.alert.alert-block.alert-warning.fade.in
  %button.close(data-dismiss="alert" type="button") ×
  %h4.alert-heading
    = icon('exclamation-triangle')
    = t('messages.no_cm_header')
  %p= t('messages.no_cm_desc')
  %p
    = link_to t('auth.buttons.setup_cm'), [:edit, :channel_manager, id: current_user.channel_manager.id], class: 'btn btn-yellow'
