.form-group
  = f.label :room_id, t("#{pattern}.rooms"), class: 'col-sm-3 control-label'
  .col-sm-9
    = f.select :room_id, options_for_rooms(booking_id), {}, multiple: true, class: 'form-control search-select'
