.container-fluid
  = content_for(:main_content_header) do
    .page_header.h2.light.text-center
      500 |
      %span.page_header_title Internal Server Error

  .row
    .center-block.panel.panel-default{style: 'width: 450px'}
      %p
        Something's wrong!
        %br
        It looks as though we've broken something on our system.
        %br
        Don't panic, we are fixing it! Please come back in a while.
