.container-fluid
  = content_for(:main_content_header) do
    .page_header.h2.light.text-center
      Error 404 |
      %span.page_header_title Page not found

  .row
    .center-block.panel.panel-default{style: 'width: 450px'}
      .panel-body
        %p
          Unfortunately the page you were looking for could not be found.
          %br
          It may be temporarily unavailable, moved or no longer exist.
          %br
          Check the URL you entered for any mistakes and try again.
          %br
          = link_to 'Click here to go back to the calendar', main_app.root_path
