#calendar {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 60px);
}

#calendar_days_cont {
  height: 300px;
  width: 100%;
}

.weekdays {
  background: #e1f2fa;
  font-size: 13px;
  text-transform: uppercase;
  span {
    width: 238px;
    display: table-cell;
    padding: 5px 10px;
  }
}

.calendar {
  width: 100%;
  height: auto;
  table-layout: fixed;
  td {
    border: 1px solid #e0e0e0;
    font-weight: 600;
    &.today {
      .container {
        background: #f1f1f1;
      }
    }
    &.selected {
      .container {
        background: #0072c6;
        color: #fff;
        .current_price {
          color: #fff !important;
          span {
            color: #fff !important;
          }
        }
      }
    }
    .container {
      position: relative;
      padding: 10px 5px;
      height: 200px;
      &.with_auto_price {
        i:first-of-type {
          display: block;
        }
        .recommended {
          color: #fff;
          background: #1d9d74;
        }
      }
      &.with_lock {
        i:last-of-type {
          display: block;
        }
      }
      i {
        display: none;
        position: absolute;
        bottom: 5px;
        font-size: 42pt;
        color: #fafafa;
        &:first-of-type {
          left: 5px;
        }
        &:last-of-type {
          right: 5px;
        }
      }
    }
    .day {
      margin-bottom: 12px;
      font-weight: 600;
    }
    .current_price {
      position: absolute;
      top: 10px;
      right: 5px;
      font-weight: 600;
      color: rgb(218, 128, 25);
      span {
        color: #000;
        font-weight: 500;
        font-size: 12px;
        margin-right: 10px;
        &.ccp_price {
          color: rgb(218, 128, 25);
          font-weight: 600;
          font-size: 16px;
          margin-right: 0px;
        }
      }
    }
    .bar {
      position: relative;
      margin-bottom: 15px;
      padding-left: 10px;
      background: #cde6f7;
      color: #000;
      line-height: 35px;
      &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        height: calc(100% - 2px);
        width: 3px;
        background: #fff;
      }
      > span {
        font-size: 14px;
      }
      &.manual {
        background: #FFF1B3;
      }
      &.sold {
        display: none;
        background: #C1FED9;
      }
    }
  }
}
