[data-page='users:index'] {
  .form-group {
    .bootstrap-tagsinput, .bootstrap-tagsinput input {
      width: 100% !important;
    }
  }
}

[data-page='settings:edit'],
[data-page='wizard:step4'],
[data-page='wizard:step4_post'] {
  .edit-price {
    .input-group {
      width: 110px;
    }

    input {
      width: 100px;
    }
  }

  .edit-cm {
    input {
      width: 100px;
    }
  }

  .rooms-table {
    td {
      @include transition(background-color 0.4s ease);
    }

    .action {
      width: 100px;

      .success, .failure { display: none }
    }
  }
}

[data-page='sessions:new'],
[data-page='sessions:create'],
[data-page='registrations:new'],
[data-page='registrations:create'],
[data-page='passwords:new'],
[data-page='passwords:create'] {
  #flash-container {
    position: static;
    width: 100%;
  }
}
