#helpers, .no-display
  display: none

.center-block
  float: none !important

body[data-page="wizard:step2"]
  .lead
    margin: 20px 0
    font-size: 16px

body[data-page="wizard:step4"]
  .form-control
    padding: 6px 10px

body[data-page="users:index"]
  .bootstrap-tagsinput
    float: left
    margin-right: 10px
    width: 60%
