@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

@import "mixins";
@import "animations";

*, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  border-top: 1px solid #a6aaa9;
}

strong {
  font-weight: 600;
}

body {
  min-width: 1200px;
  background: url(rightBg.png) no-repeat 100% 100%;
  background-size: 35%;
  background-color: #fff;
  color: #414141;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #51a7f9;
}

i.fa {
  font-family: "FontAwesome" !important;
  font-style: normal;
}

.hidden {
  display: none;
}

.transitioned300 {
  transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.transitioned200 {
  transition: 0.2s all;
  -o-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

#main_container {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  width: calc(100% - 251px);
}

#main_frame {
  margin-top: 60px;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 60px);
}

#flash_container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 500;
}

.alert {
  position: relative;
  padding: 0 15px 0 45px;
  color: $default_text;
  background-color: #d9d9d9;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22216%22%20height%3D%22146%22%20viewBox%3D%220%200%20216%20146%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%23414141%20!important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M162.18%2041.592c-5.595-9.586-13.185-17.176-22.771-22.771-9.588-5.595-20.055-8.392-31.408-8.392-11.352%200-21.821%202.797-31.408%208.392-9.587%205.594-17.177%2013.184-22.772%2022.771-5.596%209.587-8.393%2020.057-8.393%2031.408%200%2011.351%202.798%2021.82%208.392%2031.408%205.595%209.584%2013.185%2017.176%2022.772%2022.771%209.587%205.595%2020.056%208.392%2031.408%208.392s21.822-2.797%2031.408-8.392c9.586-5.594%2017.176-13.185%2022.771-22.771%205.594-9.588%208.391-20.058%208.391-31.408%200-11.351-2.797-21.822-8.39-31.408zm-43.75%2070.433c0%20.761-.246%201.398-.734%201.914s-1.086.773-1.793.773h-15.643c-.706%200-1.331-.271-1.874-.814-.543-.543-.814-1.168-.814-1.873v-15.479c0-.706.271-1.331.814-1.874.543-.543%201.168-.814%201.874-.814h15.643c.707%200%201.306.258%201.793.773.488.518.734%201.154.734%201.915v15.479zm-.164-28.026c-.055.543-.339%201.019-.854%201.426-.517.407-1.154.61-1.914.61h-15.073c-.761%200-1.413-.203-1.956-.61-.543-.407-.815-.883-.815-1.426l-1.385-50.595c0-.653.271-1.141.814-1.467.544-.434%201.196-.652%201.956-.652h17.926c.761%200%201.412.217%201.955.652.543.326.813.815.813%201.467l-1.467%2050.595z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10px 50%;
  border: 1px solid $default_text_o10;
  width: 100%;
  height: 100%;
  font-size: 1em;
  font-weight: 100;
  overflow: hidden;
  @include borderRadius(0px);
  @include animation-name(alert);
  @include animation-duration(0.3s);
  @include animation-fill-mode(forwards);
  &.notice {
    color: $primary;
    background-color: #ccebfa;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22216%22%20height%3D%22146%22%20viewBox%3D%220%200%20216%20146%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%23009ee2%20!important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M177.945%2055.148c-2.037-2.036-4.495-3.055-7.375-3.055h.002v-31.286c0-2.825-1.033-5.269-3.096-7.333s-4.51-3.096-7.334-3.096c-25.039%2020.857-49.373%2031.286-73%2031.286h-39.106c-3.585%200-6.654%201.276-9.207%203.829-2.553%202.554-3.829%205.623-3.829%209.207v15.643c0%203.585%201.274%206.654%203.827%209.207%202.553%202.554%205.622%203.829%209.207%203.829h9.94c-.923%202.934-1.521%205.936-1.792%209.003-.271%203.069-.366%205.743-.285%208.025s.489%205.024%201.222%208.229c.733%203.204%201.358%205.621%201.874%207.25.516%201.631%201.385%204.196%202.607%207.699%201.222%203.504%202.023%205.88%202.403%207.129%202.498%202.281%206.083%203.789%2010.754%204.522%204.672.731%209.248.42%2013.729-.938%204.481-1.357%207.509-3.613%209.084-6.762-2.064-1.63-3.734-3.001-5.01-4.115-1.277-1.113-2.58-2.47-3.911-4.072s-2.24-3.096-2.729-4.481c-.489-1.385-.652-2.96-.489-4.726.163-1.766.788-3.545%201.874-5.336-2.064-2.119-3.151-4.631-3.259-7.537-.108-2.905.734-5.635%202.526-8.188s4.264-4.345%207.414-5.377c21.456%201.792%2043.507%2012.112%2066.157%2030.96%202.823%200%205.27-1.032%207.332-3.096%202.064-2.063%203.096-4.509%203.096-7.333v-31.285c2.88%200%205.338-1.018%207.375-3.055%202.034-2.037%203.054-4.495%203.054-7.373%200-2.879-1.02-5.337-3.055-7.374zm-17.802%2046.155c-21.238-16.24-42.094-25.502-62.571-27.783v-21.998c20.313-2.227%2041.171-11.542%2062.571-27.945v77.726z%22%2F%3E%3C%2Fsvg%3E");
    border: 1px solid rgba(0, 158, 226, 0.2);
  }
  &.error {
    color: $danger;
    background-color: #f7ccce;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22216%22%20height%3D%22146%22%20viewBox%3D%220%200%20216%20146%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%23fa323c%20!important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M179.695%20125.388l-62.569-114.715c-.924-1.684-2.2-3.015-3.832-3.992-1.628-.978-3.394-1.467-5.295-1.467-1.901%200-3.667.49-5.296%201.467s-2.906%202.308-3.829%203.992l-62.571%20114.715c-1.901%203.423-1.847%206.845.163%2010.267.924%201.574%202.187%202.824%203.789%203.746%201.603.924%203.327%201.387%205.174%201.387h125.141c1.849%200%203.572-.463%205.175-1.387%201.603-.922%202.864-2.172%203.789-3.746%202.01-3.423%202.064-6.844.161-10.267zm-61.265-8.148c0%20.76-.259%201.398-.773%201.914-.516.516-1.127.773-1.834.773h-15.643c-.706%200-1.317-.257-1.833-.773-.516-.517-.774-1.154-.774-1.914v-15.48c0-.76.258-1.397.774-1.914.516-.516%201.126-.773%201.833-.773h15.642c.707%200%201.318.257%201.834.773.515.517.773%201.154.773%201.914v15.48zm-.162-30.47c-.056.543-.341.991-.856%201.344-.517.354-1.154.529-1.915.529h-15.073c-.76%200-1.412-.176-1.955-.529-.544-.354-.815-.801-.815-1.346l-1.385-37.231c0-.761.272-1.331.815-1.711.706-.597%201.358-.896%201.956-.896h17.924c.598%200%201.25.298%201.956.896.543.38.813.896.813%201.548l-1.465%2037.396z%22%2F%3E%3C%2Fsvg%3E");
    border: 1px solid rgba(226, 6, 19, 0.2);
  }
  &.success, &.notice {
    color: $action;
    background-color: #d8edd5;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22216%22%20height%3D%22146%22%20viewBox%3D%220%200%20216%20146%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20%2340aa3d%20!important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20d%3D%22M162.18%2041.592c-5.595-9.586-13.185-17.176-22.771-22.771-9.588-5.595-20.055-8.392-31.408-8.392-11.352%200-21.822%202.797-31.408%208.392-9.587%205.594-17.177%2013.184-22.772%2022.771-5.596%209.587-8.393%2020.057-8.393%2031.408%200%2011.352%202.798%2021.82%208.392%2031.408%205.595%209.585%2013.185%2017.176%2022.772%2022.771%209.587%205.595%2020.056%208.392%2031.408%208.392s21.822-2.797%2031.408-8.392c9.586-5.594%2017.176-13.185%2022.771-22.771%205.594-9.587%208.391-20.057%208.391-31.408%200-11.352-2.797-21.822-8.39-31.408zm-15.806%2053.65c-3.965%206.789-9.342%2012.167-16.132%2016.132-6.789%203.965-14.203%205.946-22.242%205.946-8.038%200-15.452-1.981-22.242-5.946-6.789-3.965-12.166-9.343-16.131-16.132-3.966-6.789-5.948-14.203-5.948-22.242s1.983-15.453%205.948-22.242c3.964-6.789%209.342-12.167%2016.131-16.132s14.203-5.947%2022.242-5.947%2015.453%201.982%2022.242%205.947c6.79%203.965%2012.167%209.343%2016.132%2016.132%203.965%206.789%205.946%2014.203%205.946%2022.242s-1.981%2015.453-5.946%2022.242zM132.523%2050.595c-1.031-1.032-2.254-1.548-3.666-1.548s-2.633.516-3.666%201.548l-22.405%2022.405-11.977-11.977c-1.032-1.032-2.253-1.548-3.666-1.548s-2.635.516-3.667%201.548l-8.31%208.311c-1.032%201.031-1.548%202.254-1.548%203.666s.516%202.634%201.548%203.666l23.953%2023.953c1.032%201.031%202.254%201.548%203.666%201.548%201.413%200%202.635-.517%203.667-1.548l34.382-34.382c1.032-1.031%201.549-2.253%201.549-3.665s-.516-2.634-1.548-3.666l-8.312-8.311z%22%2F%3E%3C%2Fsvg%3E");
    border: 1px solid rgba(64, 170, 61, 0.2);
  }
  strong {
    float: left;
    display: block;
    margin-top: 23px;
    overflow: hidden;
    height: 20px;
  }
  a.close {
    position: absolute;
    top: 18px;
    right: 100px;
    width: 1em;
    height: 1em;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22216%22%20height%3D%22146%22%20viewBox%3D%220%200%20216%20146%22%3E%3Cpath%20d%3D%22M130.16%2073l23.953-23.953c1.521-1.52%202.281-3.367%202.281-5.54s-.761-4.019-2.281-5.54l-11.08-11.081c-1.521-1.521-3.367-2.281-5.539-2.281-2.174%200-4.02.76-5.541%202.281l-23.953%2023.953-23.953-23.953c-1.52-1.521-3.367-2.281-5.54-2.281-2.172%200-4.019.76-5.54%202.281l-11.081%2011.081c-1.52%201.52-2.281%203.367-2.281%205.54s.76%204.019%202.281%205.54l23.953%2023.953-23.953%2023.953c-1.52%201.521-2.281%203.367-2.281%205.54s.76%204.019%202.281%205.54l11.081%2011.08c1.521%201.521%203.368%202.281%205.54%202.281%202.173%200%204.019-.761%205.54-2.281l23.953-23.953%2023.954%2023.953c1.521%201.521%203.366%202.281%205.541%202.281%202.172%200%204.019-.761%205.539-2.281l11.079-11.08c1.521-1.52%202.281-3.367%202.281-5.54s-.76-4.019-2.281-5.54l-23.953-23.953z%22%2F%3E%3C%2Fsvg%3E");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 35px;
    margin-top: 4px;
    opacity: 0.5;
    @include transition(all, 0.3s, ease-in-out);
    &:hover {
      opacity: 1;
    }
  }
}

#error_explanation {
  border: 1px solid red;
  border-radius: 3px;
  background-color: $red_focus;
  padding: 20px;
  margin: 20px auto;
  width: 380px;
  h2 {
    margin: 0;
    font-size: 1em;
    color: $red;
  }
  ul {
    font-size: 0.8em;
    color: $red;
    padding: 0 0 0 20px;
    margin: 10px 0 0;
    list-style-type: square;
  }
}

/*TOP CONTROL PANNEL*/

#top_controls {
  display: block;
  position: absolute;
  top: 20px;
  right: 40px;
  border: 1px solid #51a7f9;
  border-radius: 3px;
  padding: 5px;
  line-height: 23px;
  ul! {}
  li {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #51a7f9;
    &:last-child {
      border: none;
    }
  }
  a {
    padding: 0px 10px 0px 6px;
  }
}

/* HEADER */

#ba_logo {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 230px;
  cursor: pointer;
}

#top_row {
  background-color: #0072c6;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 300;
  top: 0;
}

#hotel_title {
  position: absolute;
  left: 48%;
  font-size: 22px;
  color: #fff;
  line-height: 60px;
}

#room_title {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 33px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  color: #000;
  &:before {
    content: "\f107";
    position: absolute;
    width: 17px;
    height: 11px;
    display: block;
    top: 5px;
    margin-top: -3px;
    right: 10px;
    font-family: "FontAwesome";
    font-style: normal;
  }
  &:hover {
    text-decoration: underline;
  }
  i {
    display: none;
  }
}

#rooms_list {
  background-color: #0072c6;
  position: fixed;
  top: 120px;
  right: -500px;
  height: 100%;
  z-index: 290;
  overflow-y: scroll;
  &.visible {
    right: 0px;
  }
  li {
    position: relative;
    list-style-type: none;
    line-height: 60px;
    padding: 0 20px;
    cursor: pointer;
    a, i {
      color: #fff;
    }
    i {
      margin: 0 15px -15px 0px;
    }
    &:hover, &.active {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

#tr_sign_in {
  padding: 17px 20px 16px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1.7em;
  float: left;
}

#tr_sign_in_cont {
  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  float: right;
  padding: 0px 20px 0px 0px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0px;
  display: block;
  line-height: 60px;
  height: 60px;
}

#left_menu {
  border-right: 1px solid #e0e0e0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 250px;
  height: calc(100vh - 60px);
  background: #f2f2f2;
}

#lm_list {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background: #f2f2f2;
  li {
    border-top: 1px solid #e0e0e0;
    a {
      line-height: 60px;
      width: 160px;
      padding-left: 90px;
      text-decoration: none;
      display: block;
      color: #000;
      opacity: 0.6;
      position: relative;
      &:hover, &.active {
        background: #fff;
        opacity: 1;
      }
      &.disabled {
        text-shadow: -1px -1px 0px white;
        color: #B5B5B5;
        pointer-events: none;
        background: none;
        opacity: 0.6;
      }
      &:before {
        background-position: 50%;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 40px;
        opacity: 0.7;
      }
      &.disabled:before {
        opacity: 0.2;
      }
    }
  }
}

.cal_i:before {
  content: "";
  background: url(cal_i.png) no-repeat;
}

.sup_i:before {
  content: "";
  background: url(sup_i.png) no-repeat;
}

.pref_i:before {
  content: "";
  background: url(pref_i.png) no-repeat;
}

.fore_i:before {
  content: "";
  background: url(fore_i.png) no-repeat;
}

.analy_i:before {
  content: "";
  background: url(analy_i.png) no-repeat;
}

#calendar_container {
  position: relative;
  #calendar {
    position: relative;
    overflow: hidden;
    margin-top: 83px;
    height: calc(100vh - 60px);
  }
}

#calendar_days_cont {
  height: 300px;
  width: 100%;
}

.sticky_header {
  position: fixed;
  top: 60px;
  margin: 0;
  background: #fff;
  z-index: 300;
  > span {
    padding: 0 20px;
    line-height: 60px;
    font-size: 24px;
    font-weight: 300;
  }
  .weekdays {
    background: #e1f2fa;
    font-size: 13px;
    text-transform: uppercase;
    span {
      width: 238px;
      display: table-cell;
      padding: 5px 10px;
    }
  }
}

.calendar {
  width: 100%;
  height: auto;
  table-layout: fixed;
  td {
    border: 1px solid #e0e0e0;
    font-weight: 600;
    &.selected {
      .container {
        background: #0072c6;
        color: #fff;
        .current_price {
          color: #fff !important;
          span {
            color: #fff !important;
          }
        }
      }
    }
    .container {
      position: relative;
      padding: 10px 5px;
      height: 200px;
      z-index: -50;
      &.with_applied_price {
        i:first-of-type {
          display: block;
        }
        .recommended {
          color: #fff;
          background: #1d9d74;
        }
      }
      i {
        display: none;
        position: absolute;
        bottom: 5px;
        font-size: 64pt;
        color: #fafafa;
        &:first-of-type {
          left: 5px;
        }
        &:last-of-type {
          right: 5px;
        }
      }
    }
    .day {
      margin-bottom: 12px;
      font-weight: 600;
    }
    .current_price {
      position: absolute;
      top: 10px;
      right: 5px;
      font-weight: 600;
      color: rgb(218, 128, 25);
      span {
        color: #000;
        font-weight: 500;
        font-size: 12px;
        margin-right: 10px;
        &.ccp_price {
          color: rgb(218, 128, 25);
          font-weight: 600;
          font-size: 16px;
          margin-right: 0px;
        }
      }
    }
    .bar {
      position: relative;
      margin-bottom: 15px;
      background: #cde6f7;
      color: #000;
      line-height: 35px;
      white-space: nowrap;
      &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        height: calc(100% - 2px);
        width: 3px;
        background: #fff;
      }
      > span {
        padding-left: 5%;
        font-size: 14px;
      }
      &.manual {
        display: none;
        background: #FFF1B3;
      }
      &.sold {
        display: none;
        background: #C1FED9;
      }
    }
  }
}

.manual {
  .recommended, .manual {
    display: block;
  }
}

.sold {
  .bar_sold {
    display: block;
  }
  .recommended {
    display: none;
  }
}

#rs_date_list {
  position: relative;
  height: calc(100% - 244px);
  li {
    line-height: 60px;
    &:last-of-type {
      position: absolute;
      bottom: 90px;
      left: 0;
      width: 100%;
      input {
        padding: 0 20px;
        width: 210px;
        height: 60px;
        border-width: 1px 0 1px 0;
        text-align: center;
        font-weight: 100;
        font-size: 30px;
      }
    }
  }
}

.rsdl_date {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 122px;
  &:hover {
    background: #0072c6;
    color: #fff;
  }
}

#rs_date_list li.rsld_active {
  background: #0072c6;
  color: #fff;
}

.rsdld_all_dates_controls {
  background: #fff;
  width: 300px;
  td {
    border: 1px solid #0072c6;
  }
}

.rsdlad_btn {
  font-size: 12px;
  text-align: center;
  display: block;
  padding: 7px 20px;
  line-height: 23px;
  position: relative;
  &:before {
    content: "";
    background: url(big_lock.png) no-repeat;
    background-size: contain;
    background-position: 50%;
    opacity: 0.03;
    position: absolute;
    top: 25px;
    right: -46px;
    width: 100%;
    height: 30px;
    z-index: 0;
  }
}

.rsdldad_apply {
  &:before {
    content: "";
    background: none;
  }
  &:hover {
    background: #0072c6;
    color: rgb(0, 255, 77);
  }
}

.rsdldad_set:hover {
  color: #A66811;
}

.rsdld_controls {
  background: #fff;
  width: 100%;
  table-layout: fixed;
  td {
    border: 1px solid #0072c6;
    vertical-align: top;
    margin: -1px;
  }
}

.rsdl_btn {
  font-size: 12px;
  text-align: center;
  display: block;
  padding: 10px 20px;
  line-height: 25px;
  position: relative;
  &:before {
    content: "";
    background: url(big_lock.png) no-repeat;
    background-size: contain;
    background-position: 50%;
    opacity: 0.05;
    position: absolute;
    top: 4px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 0;
  }
}

.rsdld_apply:before {
  content: "";
  background: none;
}

.rsdld_set:hover {
  color: #A66811;
}

.rsdld_the_price {
  color: #0072c6;
  font-size: 16px;
}

.rsdld_apply:hover {
  background: #0072c6;
  color: #fff;
  .rsdld_the_price {
    color: rgb(0, 255, 77);
  }
}

.rsldd_title {
  text-align: center;
}

.rsdld_set_manual_price_td {
  display: none;
}

.rsdld_set_manual_price {
  padding: 10px 0px;
  &:hover {
    background: #0072c6;
    color: rgb(0, 255, 77);
  }
}

.pa_ico {
  color: #0072c6;
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  top: -2%;
  float: right;
  right: 10%;
}

.calendar_day_cell .ma_ico {
  display: none;
  color: rgb(218, 128, 25);
  position: relative;
  width: 50px;
  top: 3%;
  float: left;
  left: 10%;
}

.price_applied .pa_ico, .manual .ma_ico {
  display: block;
}

.sold {
  .ma_ico, .pa_ico {
    display: none;
  }
}

#login, #recover {
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -200px;
  width: 400px;
}

form {
  position: relative;
  height: calc(100% - 200px);
  h2 {
    margin: 0px 0px 20px 0;
    font-weight: 400;
    font-size: 24px;
  }
  a {
    display: block;
    margin-top: 20px;
    font-weight: 400;
    color: #0072c6;
    font-size: 14px;
    &:hover {
      text-decoration: underline;
    }
  }
  input[type=email], input[type=text], input[type=password], input[type=password] {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-size: 95%;
    color: #555;
  }
  input[type=checkbox] {
    margin-bottom: 20px;
  }
  input[type=submit] {
    width: 100%;
    background: #0072c6;
    border: 0;
    padding: 4%;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    &:hover {
      background: #2288bb;
    }
  }
}

.transitioned1000 {
  transition: 1s all;
  -o-transition: 1s all;
  -ms-transition: 1s all;
  -moz-transition: 1s all;
  -webkit-transition: 1s all;
}

.tr_btn {
  float: right;
  height: 100%;
  position: relative;
  color: #fff;
  a {
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    font-size: 15px;
    i {
      margin-right: 5px;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }
  }
}

.panel {
  display: block;
  width: 100%;
  height: 210px;
  background: #fff;
  position: relative;
  overflow: hidden;
  z-index: 100;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ededed;
    -webkit-box-shadow: #bebebe 0 1px 0 0 inset, white 0 2px 0 0 inset;
  }
  &.active_panel {
    z-index: 200;
  }
  ~ form {
    background: #f2f2f2;
  }
  > * {
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    padding: 0;
    text-align: center;
  }
  h1 {
    span {
      display: inline-block;
      vertical-align: super;
    }
    top: 56px;
    font-weight: 400;
    font-size: 28px;
    box-sizing: border-box;
    text-align: center;
  }
  i {
    margin-right: 20px;
    color: #2288bb;
  }
  p {
    line-height: 26px;
    top: 145px;
  }
}

#wrong_panel {
  > h1, i {
    color: #FF6F6F;
    /*red*/
  }
}

#exist_panel {
  > h1, i {
    color: #FF6F6F;
    /*red*/
  }
}

#recovered_panel i, #registered_panel i {
  color: #5BE498;
  /*green*/
}

.wrong_input {
  border: 1px solid #FF6F6F;
}

#notifications_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 400px;
  height: 100px;
  box-sizing: border-box;
  z-index: 400;
  pointer-events: none;
}

@-webkit-keyframes fadeOut {
  0%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-moz-keyframes fadeOut {
  0%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@-ms-keyframes fadeOut {
  0%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes fadeOut {
  0%, 60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.notification {
  background: #0072c6;
  color: #fff;
  border: 1px solid rgba(0, 114, 198, 0.6);
  padding: 21px 20px 21px 80px;
  margin: 10px 0;
  opacity: 0;
  -webkit-animation: fadeOut 3s 1;
  /* Safari 4+ */
  -moz-animation: fadeOut 3s 1;
  /* Fx 5+ */
  -ms-animation: fadeOut 3s 1;
  /* Opera 12+ */
  animation: fadeOut 3s 1;
  /* IE 10+, Fx 29+ */
}

@media only screen and (max-width: 1599px) {
  .calendar {
    td {
      .bar {
        font-size: 12px;
        margin-bottom: 12px;
        > span {
          font-size: 13px;
        }
      }
      .day {
        font-size: 14px;
      }
      .current_price {
        font-size: 14px;
        span {
          &.ccp_price {
            font-size: 14px;
          }
          font-size: 10px;
          margin-right: 3px;
        }
      }
      .calendar_day_cell .ma_ico {
        top: 0%;
        font-size: 1.5em;
      }
      .pa_ico {
        width: 32px;
        height: 32px;
        top: -4%;
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .calendar {
    td {
      .bar {
        font-size: 11px;
        line-height: 28px;
        margin-bottom: 9px;
        > span {
          font-weight: normal;
          font-size: 11px;
        }
      }
      .day {
        font-size: 12px;
      }
      .current_price {
        font-size: 12px;
        span {
          &.ccp_price {
            font-size: 12px;
          }
          font-size: 7px;
          margin-right: 10px;
        }
      }
      .calendar_day_cell .ma_ico {
        top: 10%;
        font-size: 1em;
      }
      .pa_ico {
        width: 28px;
        height: 28px;
        top: 3%;
      }
    }
  }
}

@media only screen and (max-width: 1360px) {
  calendar {
    td {
      .bar {
        font-size: 11px;
        line-height: 21px;
        margin-bottom: 5px;
        > span {
          font-size: 9px;
        }
      }
      .day {
        font-size: 11px;
      }
      .current_price {
        font-size: 11px;
        span {
          &.ccp_price {
            font-size: 11px;
          }
          font-size: 7px;
          margin-right: 10px;
        }
      }
      .calendar_day_cell .ma_ico {
        top: 13%;
        font-size: 1em;
      }
      .pa_ico {
        width: 28px;
        height: 28px;
        top: 6%;
      }
    }
  }
}
