.steps_line
  - (1..5).to_a.each do |step|
    .step_point{class: wizard_step_class(step, active)}
      .step_circle
        %span.step_number= step
        = icon('check')
      .step_name= t(".step#{ step }")
      .step_progress