= content_for(:main_content_header) do
  .row
    .col-sm-12
      .page-header
        %h1 Congratulations!

.row
  .col-sm-12
    .well-lg
      %p.lead Now you can work with HotelCommander.
      %p Give us 10 minutes to fetch room prices.
      %p
        Please check #{ link_to 'calendar', calendar_index_path } page once you are ready.
