.container-fluid
  = content_for(:main_content_header) do
    .page_header.h2.light.text-center= t('wizard.not_finished.title')
  .default_form.center-block.payment_block
    .row
      .col-sm-12
        %p.lead= t('wizard.not_finished.description').html_safe
