.container-fluid
  = render 'progressbar', active: 2

  .step2_block
    .text-center.light
      .header.h2= t('.header')

    .default_form.max_width.center-block
      = form_for @channel_manager, as: :channel_manager, url: [:wizard, :step2_post], method: :post do |f|
        = render partial: 'channel_manager/form_contents', locals: {f: f, origin: 'wizard'}
