%title= t('meta.title')
%meta{ charset: 'utf-8' }
/[if IE] <meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" />
%meta{ content: 'width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0', name: 'viewport' }
%meta{ content: 'yes', name: 'apple-mobile-web-app-capable' }
%meta{ content: 'black', name: 'apple-mobile-web-app-status-bar-style' }
%meta{ content: t('meta.description'), name: 'description' }
%meta{ content: t('meta.author'), name: 'author' }

= stylesheet_link_tag 'application'
= javascript_include_tag 'application'

= csrf_meta_tags
