!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    = stylesheet_link_tag 'email'
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="format-detection" content="telephone=no")
  %body
    %center.wrapper
      %table.gmail
        %tbody
          %tr
            %td  
      %table.preheader.centered
        %tbody
          %tr
            %td
              %table
                %tbody
                  %tr
                    %td.title
                    %td.webversion
      %table.header.centered
        %tbody
          %tr
            %td.logo.emb-logo-padding-box
              #emb-email-header.logo-center
                %a{:href => "http://hotelcommander.net", :style => "font-weight: bold;text-decoration: none;transition: opacity 0.2s ease-in;color: #41637e"}
                  %img{:alt => "HotelCommander", :height => "78", :src => "http://hotelcommander.net/images/hc_logo.png", :style => "border: 0;-ms-interpolation-mode: bicubic;display: block;Margin-left: auto;Margin-right: auto;max-width: 385px", :width => "257"}/
      %table.border
        %tbody
          %tr
            %td
      %table.centered
        %tbody
          %tr
            %td.border
              %table.one-col
                %tbody
                  %tr
                    %td.column
                      %div{style: 'padding-top: 32px'}
                      %table.contents
                        %tbody
                          %tr
                            %td.padded
                              = yield
                      %div
                        .column-bottom
      %table.footer.centered{:style => "border-collapse: collapse;border-spacing: 0;Margin-left: auto;Margin-right: auto;width: 602px"}
        %tbody
          %tr
            %td.social{:align => "center", :style => "padding: 0;vertical-align: top;padding-top: 32px;padding-bottom: 22px;font-family: Georgia,serif;border-bottom: 1px solid #e9e9e9"}
              %table{:style => "border-collapse: collapse;border-spacing: 0"}
                %tbody
                  %tr
                    %td.social-link{:style => "padding: 0;vertical-align: top"}
                      %table{:style => "border-collapse: collapse;border-spacing: 0"}
                        %tbody
                          %tr
                            %td{:style => "padding: 0;vertical-align: top"}
                              %a{:href => "https://www.facebook.com/hotelcommander"}
                                %img{:height => "21", :src => "https://i5.createsend1.com/static/eb/master/01-mason/images/facebook-dark.png", :style => "border: 0;-ms-interpolation-mode: bicubic;display: block", :width => "26"}/
                            %td.social-text{:style => "padding: 0;vertical-align: middle !important;height: 21px;font-size: 10px;font-weight: bold;letter-spacing: 0.05em;text-transform: uppercase;color: #999"}
                              %a{:href => "https://www.facebook.com/hotelcommander"} Like
                    %td.social-link{:style => "padding: 0;vertical-align: top"}
                    %td.social-link{:style => "padding: 0;vertical-align: top"}
          %tr
            %td{:style => "padding: 0;vertical-align: top"}
              %table{:style => "border-collapse: collapse;border-spacing: 0"}
                %tbody
                  %tr
                    %td.address{:style => "padding: 0;vertical-align: top;width: 250px;padding-top: 32px;padding-bottom: 64px;font-family: Georgia,serif"}
                      %table.contents{:style => "border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%"}
                        %tbody
                          %tr
                            %td.padded
                              .address{:style => "width: 250px;padding-top: 32px;padding-bottom: 64px;font-family: Georgia,serif"}
                                %div Punto Di Unione s.r.o, Czech Republic, Prague
                    %td.subscription{:style => "padding: 0;vertical-align: top;width: 350px;padding-top: 32px;padding-bottom: 64px"}
                      %table.contents{:style => "border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%"}
                        %tbody
                          %tr
                            %td.padded
                              .permission
                              .campaign
                                %span.block
                                  %span
                                    Preferences
                                    %span.hide   |  
                                %span.block Unsubscribe
