.modal-header
  %button.close(type="button" data-dismiss="modal" aria-hidden="true") ×
  - if content_for?(:modal_header)
    = yield(:modal_header)
.modal-body
  = yield
- if content_for?(:modal_footer)
  .modal-footer
    = yield(:modal_footer)